.container{
 
    background-image:linear-gradient(to bottom right, #33adff , #7300e6);

    width: 100%;
    background-size: cover;
    background-position: center center;
    
    position:absolute;
    //filter: brightness(60%);

    .content{
        position: relative;
        margin-top: 10%;
        margin-left: 10%;
        margin-bottom:10;
        background: gray;
        border-radius: 60px;
        width: 80%;  
        color: white;
        
        h1{
            padding-top: 5%;
            text-align: center;
          
            
        }

        p{
            
            padding:0px 40px 20px 40px;
            text-align: left;          
            border-radius: 10px;

            span{
                font-size: 20px;
            }
        }
        
    }
}