.container{
 
    background-image:linear-gradient(to bottom right, #33adff , #7300e6);

    width: 100%;
    background-size: cover;
    background-position: center center;
    height: 100vh;
    //filter: brightness(60%);
}