.container {
  h1 {
    color: white;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    font-size: 50px;
  }
  .background {
    background-image: url("../../src/img/home.jpg");
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center center;
    filter: brightness(60%);
  }

  .introduction {
    background-color: #492877;
    color: white;
    padding: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    p {
      width: 60%;
      text-align: justify;
      line-height: 25px;
      margin-top: 20px;
    }
    .introTitle {
      font-size: 40px;
      margin-top: 4%;
      text-align: center;
    }
    .button1 {
      margin-top: 60px;
      background-color: white; /* Green */
      border: none;
      color: #492877;
      padding: 16px 32px;
      text-align: center;
      text-decoration: none;
      display: inline-block;
      font-size: 16px;
      transition-duration: 0.4s;
      border-radius: 12px;
      cursor: pointer;
    }
  }
}
