.input_wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: #403770;
  padding: 20px;
  opacity: 90%;
}

.container {
  background-image: linear-gradient(to bottom right, #33adff, #7300e6);

  width: 100%;
  background-size: cover;
  background-position: center center;
  display: flex;
  align-items: center;
  justify-content: center;
  //filter: brightness(60%);

  .content {
    position: relative;
    margin-top: 7%;
    margin-bottom: 5%;
    background: #4c358e;
    border-radius: 20px;
    width: 50%;
    color: white;

    .font {
      width: 80%;
      margin-left: auto;
      margin-right: auto;
    }
    .button {
      display: block;
      margin-left: auto;
      margin-right: auto;
      background-color: #4caf50; /* Green */
      border: none;
      color: white;
      cursor: pointer;

      padding: 15px 32px;

      margin-top: 5%;
      margin-bottom: 5%;
    }
  }
}
