.container{
 
        background-image:linear-gradient(to bottom right, #33adff , #7300e6);

        width: 100%;
        background-size: cover;
        background-position: center center;
     
        //filter: brightness(60%);


        .font{
                position: relative;
                padding-top:5%;      
        }

}