.container{

    
    
    .survey{
    
        margin:auto;
        width:500px;
        
        padding-top: 10%;
        margin-top:auto;
    
        border-radius:10px;
        text-align:left;
        background-color:rgba(0,0,0,0.6);
        font-size:14px;
        display:grid;
        color:white;

        .options{

        }
    
    }
}

