h2{
    color:white;
    text-align:center;
    font-size:40px;
    margin-top:5%;
}
.body{
    position: relative;
    width:600px;
    padding:30px;
    margin:auto;
    border-radius:10px;
    text-align:left;
    background-color:rgba(0,0,0,0.6);
   
    color:white;
    margin-bottom: 2%;
  }